# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
_node_modules
__node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.dev
.env.local
.env.development.local
.env.test.local
.env.production.local

# sw stuff
public/sw.js
public/workbox-*.js

/packages/bkp-backend
/packages/bkp-frotend
/packages/bkp-mobile

# docker data
/.docker/data/apache2/*
!/.docker/data/apache2/.gitkeep

/.docker/data/mongo/data/*
!/.docker/data/mongo/data/.gitkeep

/.docker/data/mysql/data/*
!/.docker/data/mysql/data/.gitkeep

/.docker/data/pgadmin4/data/*
!/.docker/data/pgadmin4/data/.gitkeep

/.docker/data/postgres/data/*
!/.docker/data/postgres/data/.gitkeep

/.docker/data/redis/data/*
!/.docker/data/redis/data/.gitkeep

# docker logs
/.docker/logs/apache2/*
!/.docker/logs/apache2/.gitkeep

/.docker/logs/mongo/*
!/.docker/logs/mongo/.gitkeep

/.docker/logs/mysql/*
!/.docker/logs/mysql/.gitkeep

/.docker/logs/mysql/*
!/.docker/logs/mysql/.gitkeep

/.docker/logs/pgadmin4/mysql/*
!/.docker/logs/pgadmin4/mysql/.gitkeep

/.docker/logs/redis/*
!/.docker/logs/redis/.gitkeep

.vscode/*
