DOCUMENT_ROOT=./packages
VHOSTS_DIR=./.docker/config/vhosts
APACHE_LOG_DIR=./.docker/logs/apache2
PHP_INI=./.docker/config/php/php.ini

MYSQL_DATA_DIR=./.docker/data/mysql/data
MYSQL_LOG_DIR=./.docker/logs/mysql
MYSQL_PORT=3338
MYSQL_DATABASE=dev
MYSQL_USER=dev
MYSQL_PASSWORD=dev
MYSQL_ROOT_PASSWORD=dev

REDIS_DATA_DIR=./.docker/data/redis/data

PGADMIN4_DATA_DIR=./.docker/data/pgadmin4/data

MONGO_DATA_DIR=./.docker/data/mongo/data

POSTGRES_SQL_DATA_DIR=./.docker/data/postgress/data
POSTGRES_SQL_LOG_DIR=./.docker/logs/postgress